.workflow {
    padding: 4rem 0;
    font-family: 'Poppins', sans-serif;
}

.workflow_heading {
    margin-bottom: 1rem;
}

.workflow_heading_p {
    margin-bottom: 1rem;
}

.workflow_heading h3 {
    font-size: 28px;
    font-weight: 500;
    color: #00000CCC;
    margin: 0;
}

.workflow_heading_p p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.workflow_content_box {
    position: relative;
}

.workflow_content_box_icon {
    width: 100px;
    height: 100px;
    background-color: #0033c7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workflow_content_box_icon span {
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: -1rem;
}

.workflow_content_box_details h3 {
    text-transform: uppercase;
    color: #333333;
    font-size: 18px;
    font-weight: 500;
}

.workflow_content_box_details p {
    color: #666666;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.workflow_content_box::after {
    content: '';
    position: absolute;
    top: 50px;
    left: 10%;
    height: 1px;
    background: #e1e8ff;
    width: 80%;
    z-index: -1;
}

.workflow_content_box::before {
    position: absolute;
    top: 45px;
    right: 10%;
    content: '';
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #e1e8ff;
}